@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300;1,600,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  row-gap: 3rem;
}
.title {
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 2.4rem;
}
.underline {
  width: 5rem;
  height: 0.3rem;
  background: rgb(130, 130, 226);
}
.jobs-center {
  height: auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 2rem;
}
.job-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  row-gap: 0.6rem;
}
.jobs-center h4 {
  background: rgba(130, 130, 226, 0.7);
  color: rgb(94, 94, 165);
  width: 6rem;
  text-align: center;
  padding: 0.2rem;
}
.jobs-center p {
  color: #333;
}
.job-desc {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-top: 2rem;

  column-gap: 2rem;
}
.job-icon {
  color: rgb(94, 181, 152);
  font-size: 40px;
}
.btn-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: flex-start;
}

.job-btn {
  border: none;
  outline: none;
  background: transparent;
  color: rgb(94, 181, 152);
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: start;
  width: 5rem;
  height: 1.7rem;
  padding-left: 1rem;
}
.job-btn:hover {
  box-shadow: -2px 0 rgb(94, 181, 152);
}
.active-btn {
  box-shadow: -2px 0 rgb(94, 181, 152);
}
.info-btn {
  border: none;
  outline: none;
  background: rgb(94, 181, 152);
  color: #fff;
  padding: 0.3rem 1rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.info-btn:hover {
  transform: scale(1.1);
  letter-spacing: 1.2px;
}
